@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import "hamburgers.css";

$large-breakpoint: 1210px;
$medium-breakpoint: 991px;
$small-breakpoint: 767px;
$mini-breakpoint: 575px;

$text-font: 'Open Sans', sans-serif;
$text-color: #272727;
$accent-color: #1a1a1a;

*:focus {
  outline: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, ul {
  padding: 0;
  margin: 0;
}

svg {
  overflow: hidden;
  width: 20px;
  height: 12px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $text-font;
  color: $text-color;
  font-size: 12px;
  overflow-x: hidden;
}

.page-container {
  background-color: #f4f4f4;
  padding: 16px 0 40px 0;

  @media only screen and (max-width: $large-breakpoint) {
    padding: 15px 15px 40px 15px;
    width: 100%;
  }
}

header {
  background-color: #3867d6;

  .header-logo-and-menu {
    width: 980px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .logo {
      flex-grow: 1;

      a {
        display: flex;
        max-width: 182px;

        svg {
          width: auto;
          height: 35px;

          .st0 {
            fill:#FFFFFF;
          }
        }
      }
    }

    .menu-main-menu-container {
      ul {
        display: flex;
        justify-content: center;

        li {
          list-style: none;
          margin-left: 22px;

          a {
            text-decoration: none;
            color: #fefefe;
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            font-weight: 700;
            line-height: 22px;
            transition: 0.5s;
            display: flex;
            flex-direction: row-reverse;
            position: relative;
            transition: 0.5s;

            &:hover {
              transition: 0.5s;
              color: #fefefe;

              @media only screen and (max-width: $small-breakpoint) {
                color: #eb3b5a;
              }
            }

            &:hover:after {
              content: "";
              display: block;
              border: 6px solid #3867d6;
              border-bottom-color: #eb3b5a;
              position: absolute;
              left: 45%;
              margin-top: 24px;
              transition: 0.5s;

              @media only screen and (max-width: $small-breakpoint) {
                display: none;
              }
            }

            @media only screen and (max-width: $small-breakpoint) {
              padding: 0 15px;
              font-size: 13px;
            }
          }

          &.current-menu-item {
            a {
              font-family: "Open Sans", sans-serif;
              transition: 0.5s;
              position: relative;

              &:after {
                content: "";
                display: block;
                border: 6px solid #3867d6;
                border-bottom-color: #eb3b5a;
                position: absolute;
                left: 45%;
                margin-top: 24px;

                @media only screen and (max-width: $small-breakpoint) {
                  display: none;
                }
              }

              @media only screen and (max-width: $small-breakpoint) {
                color: #eb3b5a;
              }
            }
          }

          @media only screen and (max-width: $small-breakpoint) {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
          }

          @media only screen and (max-width: $medium-breakpoint) {
            margin-left: 23px;
          }
        }

        @media only screen and (max-width: $small-breakpoint) {
          flex-direction: column;
          padding-top: 10px;
        }
      }

      &.is-active {
        display: flex;
        position: absolute;
        background-color: #3867d6;
        top: 53px;
        width: 100%;
        left: 0;
        justify-content: flex-end;
        z-index: 999999999;
      }

      @media only screen and (max-width: $small-breakpoint) {
        display: none;
      }
    }

    .hamburger {
      display: none;

      @media only screen and (max-width: $small-breakpoint) {
        display: block;
        position: absolute;
        right: -5px;
        top: 0;
        color: #eb3b5a;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 0 15px;
    }
  }

  .header-line {
    width: 100%;
    height: 3px;
    background-color: #eb3b5a;
  }
}

.page-content {
  background-color: #ffffff;
  width: 980px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;

  .page-name-icons {
    display: flex;
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    color: #343434;
    padding: 10px 5px 10px 20px;
    margin-bottom: 35px;

    .page-name {
      font-weight: 600;
      font-size: 12px;
      display: flex;
      flex-grow: 1;
      align-items: center;

      p {
        color: #3867d6;
      }

      svg {
        width: 23px;
        height: 9px;
        color: #7e7e7e;
      }

      span {
        color: #7e7e7e;
      }
    }

    .page-icons {
      display: flex;

      p {
        line-height: 18px;
        display: flex;
        align-items: center;
        padding-right: 10px;

        svg {
          padding-right: 5px;

          path {
            fill: #eb3b5a;
          }
        }
      }
    }

    @media only screen and (max-width: $small-breakpoint) {
      flex-direction: column;
      align-items: center;
    }
  }

  .site-name {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

    h1 {
      font-weight: 800;
      font-size: 20px;
      color: #343434;
      text-align: center;
    }

    svg {
      width: 20px;
      height: 20px;

      path {
        fill: #eb3b5a;
      }
    }
  }

  .sort-by {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: #343434;
    font-weight: 600;
    margin-bottom: 30px;

    .sort-text {
      margin-right: 15px;
    }

    .sort-table {
      display: flex;
      border: 1px solid #dddddd;
      border-radius: 8px;

      .sort-best {
        padding: 10px 35px;
        cursor: pointer;
        transition: 0.5s;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

        a {
          text-decoration: none;
          font-family: "Open Sans", sans-serif;
          color: #343434;
          font-weight: 600;
        }

        &:hover {
          background-color: #eeeeee;
          transition: 0.5s;
        }
      }

      .sort-top {
        padding: 10px 35px;
        border-right: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        cursor: pointer;
        transition: 0.5s;

        a {
          text-decoration: none;
          font-family: "Open Sans", sans-serif;
          color: #343434;
          font-weight: 600;
        }

        &:hover {
          background-color: #eeeeee;
          transition: 0.5s;
        }
      }

      .sort-max {
        padding: 10px 35px;
        cursor: pointer;
        transition: 0.5s;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;

        a {
          text-decoration: none;
          font-family: "Open Sans", sans-serif;
          color: #343434;
          font-weight: 600;
        }

        &:hover {
          background-color: #eeeeee;
          transition: 0.5s;
        }
      }

      .sort-active {
        background-color: #f4f4f4;
      }
    }

    @media only screen and (max-width: $mini-breakpoint) {
      display: none;
    }
  }

  .casino-container  {
    margin-bottom: 40px;

    .lists-bonusd-visits {
      border: 1px solid #dddddd;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-color: #f4f4f4;
      display: flex;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 12px;
      color: #343434;

      .lists {
        border-right: 1px solid #ddd;
        width: 222px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
      }

      .bonusd {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        border-right: 1px solid #ddd;
      }

      .visits {
        width: 135px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @media only screen and (max-width: $small-breakpoint) {
        display: none;
      }
    }

    .all-casinos {
      .casino-boxes {
        .casino-kaksis {
          .casino-box {
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            display: flex;
            transition: 0.5s;

            .logo-rating-name {
              border-right: 1px solid #dddddd;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 222px;
              flex-shrink: 0;

              .logo {
                width: 180px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                padding: 10px 20px;
                max-height: 69px;

                a {
                  padding: 20px;
                }
              }

              .stars {
                display: flex;
                fill: #e3e3e3;
                padding-top: 10px;

                .star {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 3px;
                  width: 16px;
                  height: 16px;

                  &.full {
                    fill: #fbbb40;
                  }
                }
              }

              .stars-container {
                display: flex;
              }

              .name {
                padding: 5px 5px 0 5px;

                a {
                  text-decoration: none;

                  p {
                    font-family: "Open Sans", sans-serif;
                    font-size: 13px;
                    color: #3867d6;
                  }

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }

              @media only screen and (max-width: $small-breakpoint) {
                width: 100%;
                border-right: none;
                border-bottom: 1px solid #ddd;
                padding: 10px;
              }
            }

            .bonus-terms {
              border-right: 1px solid #dddddd;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 20px 20px 13px 20px;

              .bonus {
                padding-bottom: 12px;
                text-align: center;

                a {
                  font-family: "Open Sans", sans-serif;
                  font-weight: 800;
                  font-size: 18px;
                  color: #343434;
                  text-decoration: none;

                  &:hover {
                    text-decoration: underline;
                  }
                }

                @media only screen and (max-width: $mini-breakpoint) {
                  text-align: center;
                }
              }

              .second-bonus {
                padding-bottom: 12px;

                p {
                  font-family: "Open Sans", sans-serif;
                  font-size: 13px;
                  line-height: 20px;
                  color: #343434;
                  text-align: center;

                  @media only screen and (max-width: $mini-breakpoint) {
                    font-size: 12px;
                  }
                }
              }

              .terms-apply {
                a {
                  text-decoration: none;
                  font-family: "Open Sans", sans-serif;
                  font-size: 13px;
                  color: #3867d6;

                  &:hover {
                    text-decoration: underline;
                  }

                  @media only screen and (max-width: $mini-breakpoint) {
                    font-size: 12px;
                  }
                }

                @media only screen and (max-width: $mini-breakpoint) {
                  text-align: center;
                }
              }

              @media only screen and (max-width: $small-breakpoint) {
                border-right: none;
                border-bottom: 1px solid #dddddd;
              }
            }

            .button-code {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 135px;
              flex-shrink: 0;

              .button {
                width: 115px;
                background-color: #4b7bec;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                margin-bottom: 5px;
                transition: 0.5s;

                a {
                  padding: 15px;
                  text-decoration: none;
                  font-family: "Open Sans", sans-serif;
                  font-weight: 800;
                  font-size: 16px;
                  color: #ffffff;
                }

                &:hover {
                  background-color: #eb3b5a;
                  transition: 0.5s;
                }
              }

              .code {
                border: 1px solid #dddddd;
                border-radius: 5px;

                p {
                  font-family: "Open Sans", sans-serif;
                  font-weight: 600;
                  font-size: 12px;
                  color: #343434;
                  padding: 2px 26px;
                }
              }

              @media only screen and (max-width: $small-breakpoint) {
                width: 100%;
                padding: 10px;
              }
            }

            &:hover {
              background-color: #f4f4f4;
              transition: 0.5s;
            }

            @media only screen and (max-width: $small-breakpoint) {
              flex-direction: column;
              border-top: 1px solid #dddddd;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            }

            &.single-casino {
              border: 1px solid #ddd;
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            }
          }
        }

        .terms-info {
          padding: 11px;
          background-color: #fafafa;
          border-left: 1px solid #dddddd;
          border-right: 1px solid #dddddd;
          border-bottom: 1px solid #dddddd;

          p {
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            line-height: 18px;
            color: #7e7e7e;
            text-align: center;
          }

          @media only screen and (max-width: $small-breakpoint) {
            margin-bottom: 30px;
          }
        }

        &:last-child {
          .terms-info {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }
      }
    }

    &.single-post-casino {
      margin-bottom: 0px;
    }
  }

  .paragraph {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px 20px 5px 20px;
    font-family: "Open Sans", sans-serif;
    color: #343434;

    h2 {
      font-size: 18px;
      font-weight: 800;

      &:before {
        content: "\f0da";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        display: inline-block;
        width: 20px;
        height: 10px;
        color: #eb3b5a;
        margin-right: 0px;
      }
    }

    h3 {
      font-size: 17px;
      font-weight: 800;
    }

    h4 {
      font-size: 16px;
      font-weight: 800;
    }

    h5 {
      font-size: 15px;
      font-weight: 800;
    }

    h6 {
      font-size: 14px;
      font-weight: 800;
      margin: 0;
    }

    p {
      font-size: 13px;
      line-height: 23px;
      text-align: justify;
    }

    a {
      text-decoration: none;
      color: #3867d6;
      font-size: 13px;
      line-height: 23px;
      transition: 0.5s;

      &:hover {
        color: #eb3b5a;
        transition: 0.5s;
      }
    }

    ul {
      li {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        line-height: 23px;
        color: #343434;
        list-style: none;
        margin: -8px 30px;

        &:before {
          content: "\f0da";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #eb3b5a;
          margin-right: -7px;

          @media only screen and (max-width: $small-breakpoint) {
            margin-right: 0;
          }
        }
      }
    }

    ol {
      padding-left: 0;

      li {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        line-height: 23px;
        color: #343434;
        margin: -8px 30px;
        list-style: none;
        counter-increment: nr;

        &:before {
          content: "1." counter(nr) ". ";
          font-family: "Open Sans", sans-serif;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #343434;
          margin-right: 7px;

          @media only screen and (max-width: $small-breakpoint) {
            margin-right: 0;
          }
        }
      }
    }

    blockquote {
      border-left: 3px solid #eb3b5a;
      margin: 0 auto;
      padding-left: 10px;

      p {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        line-height: 23px;
        color: #343434;
      }
    }

    @media only screen and (max-width: $mini-breakpoint) {
      text-align: center;
    }
  }

  .page-info-paragraph {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
    color: #343434;
    font-size: 13px;
    line-height: 23px;
    text-align: justify;

    h1 {
      margin-top: 20px;
      line-height: 30px;

      @media only screen and (max-width: $mini-breakpoint) {
        font-size: 20px;
      }
    }

    h2 {
      font-size: 18px;
      font-weight: 800;
      margin-top: 20px;
    }

    h3 {
      font-size: 17px;
      font-weight: 800;
      margin-top: 20px;
    }

    h4 {
      font-size: 16px;
      font-weight: 800;
      margin-top: 20px;
    }

    h5 {
      font-size: 15px;
      font-weight: 800;
      margin-top: 20px;
    }

    h6 {
      font-size: 14px;
      font-weight: 800;
      margin-top: 20px;
    }

    p {
      font-size: 13px;
      line-height: 23px;
      text-align: justify;
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
      color: #3867d6;
      font-size: 13px;
      line-height: 23px;
      transition: 0.5s;

      &:hover {
        color: #eb3b5a;
        transition: 0.5s;
      }
    }

    ul {
      li {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        line-height: 23px;
        color: #343434;
        list-style: none;
        margin: -8px 30px;

        &:before {
          content: "\f0da";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #eb3b5a;
          margin-right: -7px;

          @media only screen and (max-width: $small-breakpoint) {
            margin-right: 0;
          }
        }
      }
    }

    ol {
      padding-left: 0;
      margin-bottom: 25px;

      li {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        line-height: 23px;
        color: #343434;
        margin: -8px 30px;
        list-style: none;
        counter-increment: nr;
        margin-bottom: 8px;

        &:before {
          content: "1." counter(nr) ". ";
          font-family: "Open Sans", sans-serif;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #343434;
          margin-right: 7px;

          @media only screen and (max-width: $small-breakpoint) {
            margin-right: 0;
          }
        }
      }
    }

    blockquote {
      border-left: 3px solid #eb3b5a;
      margin: 0 auto;
      padding-left: 10px;

      p {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        line-height: 23px;
        color: #343434;
      }
    }

    &.single-post-paragraph {
      margin-bottom: 20px;

      h1 {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    @media only screen and (max-width: $mini-breakpoint) {
      text-align: center;
    }
  }

  @media only screen and (max-width: $large-breakpoint) {
    padding: 20px 15px;
    width: 100%;
  }
}

footer {
  .footer-menu-background {
    background-color: #3867d6;
    padding: 20px 0 12px 0;

    .footer-icons-first {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;

      .footer-icon-first {
        a {
          svg {
            height: 40px;
            max-height: 40px;
            max-width: 240px;
            margin-right: 20px;
            width: unset;

            &:hover {
              .st000 {
                fill: #eb3b5a;
              }
            }

            @media only screen and (max-width: $small-breakpoint) {
              height: 35px;
              margin-right: 0;
            }
          }
        }
      }
    }

    .footer-menus {
      margin: 0 auto;

      .footer-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4b7bec;
        height: 40px;
        margin-bottom: 15px;

        .menu-footer-menu-container {
          .menu {
            display: flex;
            list-style: none;

            li {
              margin-right: 20px;

              a {
                text-decoration: none;
                color: #ffffff;
                list-style: none;
                font-family: "Open Sans", sans-serif;
                font-weight: 700;
                font-size: 12px;
                line-height: 22px;

                &:hover {
                  transition: 0.5s;
                  text-decoration: underline;
                }
              }

              &.current-menu-item {
                a {
                  color: #ffffff;
                  font-family: "Open Sans", sans-serif;
                  text-decoration: underline;
                }
              }
              @media only screen and (max-width: $small-breakpoint) {
                margin-right: 0;
              }
            }

            @media only screen and (max-width: $small-breakpoint) {
              flex-direction: column;
              text-align: center;
            }
          }

          @media only screen and (max-width: $large-breakpoint) {
            padding: 0 15px;
          }

          @media only screen and (max-width: $small-breakpoint) {
            padding: 15px 15px;
          }
        }

        @media only screen and (max-width: $small-breakpoint) {
          height: 100%;
        }
      }

      .footer-text {
        width: 795px;
        margin: 0 auto;

        p {
          font-family: "Open Sans", sans-serif;
          font-size: 13px;
          line-height: 23px;
          color: #ffffff;
          text-align: center;
        }

        @media only screen and (max-width: $large-breakpoint) {
          padding: 0 15px;
          width: 100%;
        }
      }

      .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0 30px 0;

        .footer-icon {
          a {
            svg {
              height: 30px;
              max-height: 40px;
              max-width: 240px;
              fill: #ffffff;
              margin-right: 20px;
              width: unset;

              &:hover {
                fill: #eb3b5a;

                svg {
                  fill: #eb3b5a;

                }

                path {
                  fill: #eb3b5a;

                }

                g {
                  fill: #eb3b5a;

                }
              }

              @media only screen and (max-width: $small-breakpoint) {
                margin-right: 0;
              }
            }
          }

          @media only screen and (max-width: $small-breakpoint) {
            padding-bottom: 15px;
          }
        }

        @media only screen and (max-width: $small-breakpoint) {
          flex-direction: column;
          padding: 15px 0 0 0;
        }
      }

      .copyright {
        p {
          font-family: "Open Sans", sans-serif;
          font-size: 13px;
          line-height: 23px;
          color: #ffffff;
          text-align: center;

          @media only screen and (max-width: $small-breakpoint) {
            padding: 0 15px;
          }
        }
      }

      @media only screen and (max-width: $large-breakpoint) {
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}

.back-to-top {
  display: block;

  a {
    position: fixed;
    cursor: pointer;
    color: #fefefe;
    text-align: center;
    bottom: 20px;
    right: 30px;
    background: #3867d6;
    padding: 11px 9px;
    border-radius: 5px;
    transition: 0.5s;

    svg {
      width: 21px;
      height: 12px;
    }

    &:hover {
      color: #3867d6;
      background-color: #fefefe;
      transition: 0.5s;
    }

    @media only screen and (max-width: $large-breakpoint) {
      display: none;
    }
  }
}









